<%= simple_form_for @line do |l| %>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :number, label:'N° Línea', wrapper_html: { class: 'mdl-textfield mdl-js-textfield'},
                          input_html: {class: "mdl-textfield__input", pattern: '-?[0-9]*(\.[0-9]+)?'},
                          label_html: { class: "mdl-textfield__label"} %>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :state, label:'Estado', wrapper_html: { class: 'mdl-textfield mdl-js-textfield'},
      input_html: {class: "mdl-textfield__input"},
      label_html: { class: "mdl-textfield__label"} %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :type_sim, label:'Tipo SIM', wrapper_html: { class: 'mdl-textfield mdl-js-textfield'},
      input_html: {class: "mdl-textfield__input"},
      label_html: { class: "mdl-textfield__label"} %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :bill_account, label:'Cuenta', wrapper_html: { class: 'mdl-textfield mdl-js-textfield'},
      input_html: {class: "mdl-textfield__input"},
      label_html: { class: "mdl-textfield__label"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-3">
      <%= l.association :person, label:'Usuario', wrapper_html: { class: 'mdl-textfield mdl-js-textfield'},
      input_html: {class: "mdl-textfield__input"},
      label_html: { class: "mdl-textfield__label"} %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
      <%= l.input :vpn_link, label:'Link de la VPN', wrapper_html: { class: 'mdl-textfield mdl-js-textfield fullwide'},
      input_html: {class: "mdl-textfield__input"},
      label_html: { class: "mdl-textfield__label"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :check_date, as: :date, label: 'Check', wrapper_html: { class: 'mdl-textfield mdl-js-textfield'},
      input_html: {class: "mdl-textfield__input"},
      label_html: { class: "mdl-textfield__label"} %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :has_inet, label:'Pack Inet', wrapper_html: { class: 'mdl-textfield mdl-js-textfield'},
      input_html: {class: "mdl-textfield__input"},
      label_html: { class: "mdl-textfield__label"} %>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1">
      <%= l.input :limit_offnet, label:'Minutos', wrapper_html: { class: 'mdl-textfield mdl-js-textfield'},
      input_html: {class: "mdl-textfield__input", min:'-1', value:"#{@line.limit_offnet}"},
      label_html: { class: "mdl-textfield__label"} %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="line_has_sms_pack">
        <input type="checkbox" id="line_has_sms_pack" class="mdl-switch__input" name='line[has_sms_pack]' checked>
        <span class="mdl-switch__label"> Pack SMS</span>
      </label>
    </div>
  </div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= l.input :notes, placeholder:'Notas', wrapper_html: { class: 'mdl-textfield mdl-js-textfield fullwide'},
                                                            input_html: {class: "mdl-textfield__input", rows:'6'},
                                                            label_html: { class: "mdl-textfield__label"} %>
  </div>
</div>



  <%= l.button :submit, 'OK', class: "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" %>
<% end %>
