<%= simple_form_for @line do |l| %>

  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :number, label:'N° Línea', wrapper_html: { class: ''},
                          input_html: {class: "", pattern: '-?[0-9]*(\.[0-9]+)?'},
                          label_html: { class: ""} %>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :state, label:'Estado', collection: @state_options, include_blank: false,
      wrapper_html: { class: ''},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :type_sim, label:'Tipo SIM', collection: @type_sim_options, include_blank: false,
      wrapper_html: { class: ''},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :bill_account, label:'Cuenta', collection: @bill_account_options, include_blank: false,
      wrapper_html: { class: ''},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
      <%= l.input :person_id, label:'Usuario', collection: @users_options, wrapper_html: { class: ''},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
      <%= l.input :vpn_link, label:'Link de la VPN', wrapper_html: { class: ' fullwide'},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>
  </div>

  <div class="row">
      <%= l.input :check_date, label:'Check', as: :date_time_picker, wrapper_html: {class:'col-xs-12 col-sm-6 col-md-6 col-lg-2'}, input_html: { data:
            {
              date_format: "DD/MMMM/YYYY",
              date_view_mode: 'days',
              date_show_today_button: true
            }
            } %>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :has_inet, label:'Pack Inet', collection: @has_inet_options, include_blank: false,
      wrapper_html: { class: ''},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-1">
      <%= l.input :limit_offnet, label:'Minutos', wrapper_html: { class: ''},
      input_html: {class: "", min:'-1', value:"#{@line.limit_offnet}"},
      label_html: { class: ""} %>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">
      <%= l.input :has_sms_pack, label:'Pack SMS' %>
    </div>
  </div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= l.input :notes, label:'Notas', wrapper_html: { class: ' fullwide'},
                                                            input_html: {class: "", rows:'6'},
                                                            label_html: { class: ""} %>
  </div>
</div>

<div class="form-actions">
  <%= l.button :submit, button, class:'btn btn-success btn-lg' %>
  <%= link_to fa_icon("thumbs-down", text: "Cancelar"), root_path(section:'lines'), class: "btn btn-danger btn-lg" %>
</div>

<% end %>
