<h3>Líneas Celulares</h3>
<table class="table">
  <thead>
    <tr>
      <th class=""> Número </th>
      <th class=""> Usuario </th>
      <th class=""> Estado </th>
      <th class=""> Tipo SIM </th>
      <th class=""> Servicios </th>
      <th class=""> Últ. Check </th>
      <th class=""> Cuenta </th>
      <th class=""> Lím. Offnet </th>
      <th class=""> Opciones </th>
    </tr>
  </thead>
  <tbody>
    <% lines.each do |line| %>
      <tr>
        <td class=""> <%= line.number %> </td>
        <td class="">  </td>
        <td class=""> <%= line.state %> </td>
        <td class=""> <%= line.type_sim %> </td>
        <td class=""> </td>
        <td class=""> <%= line.check_date %> </td>
        <td class=""> <%= line.bill_account %> </td>
        <td class=""> <%= line.limit_offnet %> </td>
        <td class="">
          <%= link_to edit_line_path(line), class:"" do %>
          <i class="material-icons">mode_edit</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_line_path, class: "fixed-botton-right-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" do %>
  <%= fa_icon('plus', class: "material-icons") %>
<% end %>
