<div class="modal fade" id="<%= raw "info-#{line.id}" %>" tabindex="-1" role="dialog" aria-labelledby="line-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="line-modal-label"><%= line.number %> - <%= line.get_user_full_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="<%= raw "tabs-#{line.id}" %>">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<%= raw "line-data-#{line.id}" %>" role="tab">Línea</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<%= raw "user-data-#{line.id}" %>" role="tab">Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<%= raw "device-data-#{line.id}" %>" role="tab">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#<%= raw "settings-#{line.id}" %>" role="tab">Opciones</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane fade" id="<%= raw "line-data-#{line.id}" %>" role="tabpanel">
            <%= render "lines/show_data_line", line: line %>
          </div>
          <div class="tab-pane fade" id="<%= raw "user-data-#{line.id}" %>" role="tabpanel">
            <%= "Datos de #{line.get_user_full_name}" %>
          </div>
          <div class="tab-pane fade" id="<%= raw "device-data-#{line.id}" %>" role="tabpanel">m</div>
          <div class="tab-pane fade" id="<%= raw "settings-#{line.id}" %>" role="tabpanel">s</div>
        </div>
        <script>
          $(function () {
            $('#<%= raw "tabs-#{line.id}" %> li:eq(0) a').tab('show')
          })
        </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
