<h2>Control de líneas</h2>
<div class="tab-content">
  <div class="tab-pane active" id="reduced_csv_tab" role="tabpanel">
    <table class="table table-hover display responsive no-wrap" id="control_table">
      <thead>
        <tr>
          <th>
            N°
          </th>
          <th> <%= @table[0][0] %> </th>
          <th>Usuario</th>
          <th> <%= @table[0][3] %> </th>
          <th>Tipo SIM</th>
          <th> <%= @table[0][4] %> </th>
          <th> <%= @table[0][5] %> </th>
          <th>IMEI Sistema</th>
          <th>Opc.</th>
        </tr>
      </thead>
      <tbody class="text-size-sm">
        <% n = 1 %>
        <% @table[1].each do |q| %>
        <% line = Line.find_by_number(q[0].strip) %>
        <% device = line.get_device %>
        <tr class='<%= raw line.get_row_table_class %>'>
          <td class="center-text-v">
            <%= n %>
          </td>
          <td class="center-text-v"> <%= q[0].strip %> </td>
          <td class="center-text-v"> <%= line.get_user_full_name %> </td>
          <td class="center-text-v"> <%= q[3] %> </td>
          <td class="center-text-v"> <%= line.type_sim %> </td>
          <td class="center-text-v"
                data-toggle="tooltip" data-placement="top" title="<%= q[6] %>"> <%= q[4] %> </td>
          <td class="center-text-v <%= raw get_class_alert_imei(q[4],q[5]) %>"
                data-toggle="tooltip" data-placement="top" title="<%= q[7] %>"> <%= q[5] %> </td>
          <td class="center-text-v  <%= raw get_class_alert_imei(q[4],device.imei) %>"
                data-toggle="tooltip" data-placement="top" title="<%= device.get_full_model_name %>"> <%= device.imei %> </td>
          <td class="center-text-v">
            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">

              <div class="btn-group btn-group-sm" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <% if line.id.present? %>
                    <!-- true -->
                    <%= link_to "Editar línea", edit_line_path(line), class: "dropdown-item", target: :_blank %>
                  <% end %>
                </div>
              </div>
              <%= link_to icon('fas',"eye"), "#info-#{n.to_s}", 'data-toggle' => 'modal', class: "btn btn-info btn-sm" %>
            </div>
          </td>
          <!-- Modal -->
          <div class="modal fade" id="<%= "info-" + n.to_s %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= q[0] %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ul>
                    <li>N° línea: <%= line.number %> </li>
                    <li>Nombre: <%= line.get_user_full_name %> </li>
                    <li>Estado: <%= line.state %> </li>
                    <li>N° SIM: <%= q[3] %> </li>
                    <li>Tipo SIM: <%= line.type_sim %> </li>
                    <li>Equipo registrado (Claro): <%= "#{q[4]} IMEI #{q[6]}" %> </li>
                    <li>Equipo en uso (Claro): <%= "#{q[5]} IMEI #{q[7]}" %> </li>
                    <li>Equipo sistema muni.: <%= "#{device.get_full_model_name} IMEI #{device.imei}" %> </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
        <% n = n + 1 %>
        <% end %>
      </tbody>
    </table>
