<%= simple_form_for @office do |l| %>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-2">
      <%= l.input :category, label:'Categoría', collection: @office_category_options, include_blank: true %>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= l.input :name, label:'Nombre' %>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
      <%= l.input :parent_id, label:'Dependencia', collection: @office_parent_options, input_html: {class: "chosen-select"} %>
    </div>


  </div>





  <%= l.button :submit, 'OK', class: "btn btn-success" %>
  <%= link_to icon('fas',"back","Cancelar"), offices_path, class: "btn btn-warning" %>
<% end %>
