<%= simple_form_for @user do |l| %>

  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-3 col-lg-2">
      <%= l.input :lastname, label:'Apellido', wrapper_html: { class: ' fullwide'},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-3">
      <%= l.input :name, label:'Nombre', wrapper_html: { class: ' fullwide'},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
      <%= l.input :dni, label:'N° DNI', wrapper_html: { class: ' fullwide'},
      input_html: {class: ""},
      label_html: { class: ""} %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-3">
      <%= l.input :alert, label:'Resaltar', wrapper_html: { class: 'col-xs-12 col-sm-6 col-md-4 col-lg-2' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= l.input :office_id, label:'Oficina', collection: @office_options, wrapper_html: { class: ' fullwide'},
      input_html: {class: "chosen-select"},
      label_html: { class: ""} %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <%= l.input :footnote, label:'Notas', wrapper_html: { class: ' fullwide'},
                                                              input_html: {class: "", rows:'6'},
                                                              label_html: { class: ""} %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= l.input :accounts, label:'Cuentas y contraseñas', wrapper_html: { class: ' fullwide'},
      input_html: {class: "", rows:'3'},
      label_html: { class: ""} %>
    </div>
  </div>

  <%= l.button :submit, 'OK', class: "btn btn-success" %>
  <%= link_to fa_icon("back", text: "Cancelar"), people_path, class: "btn btn-warning" %>
<% end %>
