<% if users.count != 0 %>
<table class="table table-sm table-striped table-hover display responsive no-wrap" id="table-people">
  <thead class="thead-dark">
    <tr>
      <th class=""> Nombre </th>
      <th class=""> DNI </th>
      <th class=""> Lin./Eq. </th>
      <th class=""> Oficina </th>
      <th class=""> Opciones </th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
    <tr>
      <td class=""> <%= link_to user.get_full_name, "#user-info-#{user.id}", 'data-toggle' => 'modal', class: "link-no-style" %> </td>
      <td class=""> <%= user.get_dni_formated %> </td>
      <td class=""> <%= user.get_lines_devices_count %> </td>
      <td class=""> <%= abreviate_names user.get_office_full_name %> </td>
      <td class="center-text-v">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to icon('fas',"bars"),'#', {id: "otherOptions", class: "btn btn-secondary dropdown-toggle", 'data-toggle' => 'dropdown'} %>
            <div class="dropdown-menu" aria-labelledby="otherOptions">
              <% if user.lines.count > 0 %>
              <% user.lines.each do |line| %>
              <%= link_to icon('fas',"phone", "#{line.number} #{line.clarification}"), edit_line_path(line), class: "dropdown-item" %>
              <% end %>
              <% end %>
            </div>
          </div>
          <%= link_to icon('fas',"eye"), "#user-info-#{user.id}", 'data-toggle' => 'modal', class: "btn btn-info" %>
          <%= link_to icon('fas',"edit"), edit_person_path(user), class: "btn btn-warning" %>
          <%= link_to icon('fas',"trash"), '#', class: "btn btn-danger" %>
        </div>

      </td>
    </tr>
    <%= render "people/show", user: user %>
    <% end %>
  </tbody>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#table-people').DataTable( {
      responsive: true
    } );
  });
  </script>
</table>
<% else %>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Tabla vacía</h4>
  <p>No hay contenido para esta tabla.</p>
</div>
<% end %>
