<%= simple_form_for(@device) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <%= f.input :device_model_id, label:'Modelo', collection: @model_options, input_html: {class: "chosen-select"}, wrapper_html: {class:'col-xs-12 col-sm-12 col-md-6 col-lg-4'} %>
      <%= f.input :imei, label:'IMEI', wrapper_html: {class:'col-xs-12 col-sm-6 col-md-6 col-lg-3'} %>
    </div>
    <div class="row">
      <%= f.input :line_id, label:'Línea', collection: @line_options, input_html: {class: "chosen-select"}, wrapper_html: {class:'col-xs-12 col-sm-12 col-md-6 col-lg-4'} %>
      <%= f.input :is_personal, label:'Equipo personal' %>
    </div>
    <div class="row">
      <%= f.input :check_date, label:'Check', as: :date_time_picker, wrapper_html: {class:'col-xs-12 col-sm-6 col-md-6 col-lg-2'}, input_html: { data:
            {
              date_format: "DD/MMMM/YYYY",
              date_view_mode: 'days',
              date_show_today_button: true
            }
            } %>
      <%= f.input :state, label:'Estado', collection: @state_options, wrapper_html: {class:'col-xs-12 col-sm-6 col-md-6 col-lg-2'} %>
      <%= f.input :failure, label:'Falla', wrapper_html: {class:'col-xs-12 col-sm-12 col-md-6 col-lg-6'} %>
    </div>
    <div class="row">
      <%= f.input :details, label: 'Otros detalles', input_html: {rows: 10}, wrapper_html: {class:'col-xs-12 col-sm-12 col-md-12 col-lg-12'} %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, button, class:'btn btn-success btn-lg' %>
    <%= link_to fa_icon("thumbs-down", text: "Cancelar"), cellphones_devices_path, class: "btn btn-danger btn-lg" %>
  </div>
<% end %>
