<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-delegation-new">
  Nueva Delegación
</button>

<!-- Modal -->
<div class="modal fade" id="modal-delegation-new" tabindex="-1" role="dialog" aria-labelledby="delegationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delegationModalLabel">Nueva Delegación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @delegation, url: url_action do |l| %>

            <%= l.input :name, label:'Nombre',
            wrapper_html: { class: 'fullwide'},
            input_html: {class: "", id:'delegation_name'},
            label_html: { class: ""} %>
            <%= l.input :address, label:'Dirección',
            wrapper_html: { class: 'fullwide'},
            input_html: {class: "", id:'delegation_address'},
            label_html: { class: ""} %>
            <%= l.input :footnote, label:'Notas',
            wrapper_html: { class: 'fullwide'},
            input_html: {class: "", id:'delegation_footnote'},
            label_html: { class: ""} %>

      </div>
      <div class="modal-footer">
        <%= l.button :submit, 'OK', class: "btn btn-success" %>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
