<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
    <h3>Oficinas</h3>
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-inverse">
        <tr>
          <th class=""> Nombre </th>
          <th class=""> Dependencia </th>
          <th class=""> Delegación </th>
          <th class=""> Opciones </th>
        </tr>
      </thead>
      <tbody>
        <% @offices.each do |o| %>
          <tr>
            <td class="center-text-v"> <%= o.name %> </td>
            <td class="center-text-v"> <%= o.get_parent_name %> </td>
            <td class="center-text-v"> <%= o.delegation.nil? ? '' : o.delegation.name %> </td>

            <td class="center-text-v">
              <div class="btn-group" role="group" aria-label="Basic example">
                <div class="btn-group" role="group">
                  <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Dropdown link</a>
                    <a class="dropdown-item" href="#">Dropdown link</a>
                  </div>
                </div>
                <%= link_to fa_icon("eye"), "#office-info-#{o.id}", 'data-toggle' => 'modal', class: "btn btn-info" %>
                <%= link_to fa_icon("pencil"), '#', class: "btn btn-warning" %>
                <%= link_to fa_icon("trash"), '#', class: "btn btn-danger" %>
              </div>
            </td>
          </tr>
          <%= render "settings/offices/show_office", office: o %>
        <% end %>
      </tbody>
    </table>
    <%= link_to new_office_settings_path, class: "" do %>
      <%= fa_icon('plus', class: "material-icons") %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
    <h3>Delegaciones</h3>
    <ul id='list_delegations'>
      <% @delegations.each do |delegation| %>
        <li id="delegation_<%= delegation.id %>">
          <%= delegation.name %> <%= link_to "X", delete_delegation_settings_path(delegation.id), method: :delete %>
        </li>
      <% end %>

    </ul>

    <%= render "settings/offices/delegation_form", button: 'Crear', url_action: create_delegation_settings_path %>

  </div>
</div>
