<%= simple_form_for(@device_model) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <%= f.input :category, label:'Categoría', collection: @category_options, wrapper_html: {class:'col-xs-12 col-sm-6 col-md-6 col-lg-3'} %>
      <%= f.input :mark, label:'Marca', collection: @mark_options, input_html: {class: "chosen-select"}, wrapper_html: {class:'col-xs-12 col-sm-6 col-md-6 col-lg-3'} %>
      <%= f.input :device_name, label:'Modelo', wrapper_html: {class:'col-xs-12 col-sm-6 col-md-6 col-lg-3'} %>
      <%= f.input :device_code, label:'Código Mod.', wrapper_html: {class:'col-xs-12 col-sm-6 col-md-6 col-lg-3'} %>
    </div>
    <div class="row">
      <%= f.input :type_sim, label:'Formato SIM', collection: @type_sim_options, wrapper_html: {class:'col-xs-12 col-sm-8 col-md-4 col-lg-3'} %>
      <%= f.input :band, label:'Banda cel.', collection: @band_options, wrapper_html: {class:'col-xs-12 col-sm-8 col-md-4 col-lg-2'} %>
      <%= f.input :os, label:'OS', collection: @os_options, wrapper_html: {class:'col-xs-12 col-sm-8 col-md-4 col-lg-2'} %>
      <%= f.input :slot_sd, label:'Slot SD?' %>
      <%= f.input :specs_link, label:'Link especif.', wrapper_html: {class:'col-xs-12 col-sm-12 col-md-6 col-lg-6'} %>
    </div>
    <%= f.input :accessories, label:'Accessorios' %>
    <%= f.input :details, label:'Otros detalles', input_html: {class: "text-monospace", rows: 4} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, button, class:'btn btn-success btn-lg' %>

    <%= link_to fa_icon("thumbs-down", text: "Cancelar"), cellphones_models_path, class: "btn btn-danger btn-lg" %>
  </div>
<% end %>
