<p id="notice"><%= notice %></p>

<h1>Device Models</h1>

<table>
  <thead>
    <tr>
      <th>Mark</th>
      <th>Device name</th>
      <th>Device code</th>
      <th>Accessories</th>
      <th>Details</th>
      <th>Type sim</th>
      <th>Specs link</th>
      <th>Slot sd</th>
      <th>Category</th>
      <th>Band</th>
      <th>Os</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_models.each do |device_model| %>
      <tr>
        <td><%= device_model.mark %></td>
        <td><%= device_model.device_name %></td>
        <td><%= device_model.device_code %></td>
        <td><%= device_model.accessories %></td>
        <td><%= device_model.details %></td>
        <td><%= device_model.type_sim %></td>
        <td><%= device_model.specs_link %></td>
        <td><%= device_model.slot_sd %></td>
        <td><%= device_model.category %></td>
        <td><%= device_model.band %></td>
        <td><%= device_model.os %></td>
        <td><%= link_to 'Show', device_model %></td>
        <td><%= link_to 'Edit', edit_device_model_path(device_model) %></td>
        <td><%= link_to 'Destroy', device_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device Model', new_device_model_path %>
