<div class="card" style="width: 100%;">
  <div class="card-header text-white bg-info">
    <h4 class="card-title"><%= link_to fa_icon("table", text: ""), cellphones_plans_path, class: "be-white" %> Planes</h4>
    <p class="card-text">Pendientes Planes activos en las líneas de la flota.</p>
  </div>
  <ul class="list-group list-group-flush">
    <% total = 0 %>
    <% @plans.each do |plan| %>
    <% cant = plan.lines.count %>
    <% total = total + cant %>
    <li class="list-group-item list-group-item-info"><b><%= plan.name %>:</b> <%= cant %></li>
    <% end %>
    <li class="list-group-item list-group-item-primary"><b>total:</b> <%= total %></li>
  </ul>
  <div class="card-block">
    <%= link_to fa_icon("table", text: "Tabla de planes"), cellphones_plans_path, class: "card-link btn btn-info btn-sm" %>
  </div>
</div>
