<%= content_for :menu do %>
  <%= render "menu" %>
<% end %>

<h2>
  <script type="text/javascript">
  var d=new Date();
  var dia=new Array(7);
  var mes=new Array(12);
  dia[0]="Domingo"; dia[1]="Lunes"; dia[2]="Martes"; dia[3]="Miercoles"; dia[4]="Jueves"; dia[5]="Viernes"; dia[6]="Sabado";

  mes[0]="Enero"; mes[1]="Febrero"; mes[2]="Marzo"; mes[3]="Abril"; mes[4]="Mayo"; mes[5]="Junio"; mes[6]="Julio"; mes[7]="Agosto"; mes[8]="Septiembre"; mes[9]="Octubre"; mes[10]="Noviembre";
  mes[11]="Diciembre";
  document.write(dia[d.getDay()] + ' ' + d.getDate() + ' de ' + mes[d.getMonth()] + ' del ' + d.getFullYear());
</script>
</h2>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <%= render "home/cellphones_card" %>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <%= render "home/internals_card" %>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    <%= render "home/plans_card" %>
    <br>
    <%= render "home/tasks_card" %>
  </div>
</div>
