<h3>Opciones para Selectores</h3>
<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <tr>
      <th class=""> Selector </th>
      <th class=""> Nombre </th>
      <th class=""> ID </th>
      <th class=""> Opciones </th>
    </tr>
  </thead>
  <tbody>
    <% @selector_settings.each do |ss| %>
      <tr>
        <td class=""> <%= ss.selector %> </td>
        <td class=""> <%= ss.name %> </td>
        <td class=""> <%= ss.id_name %> </td>

        <td class="">
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to fa_icon("eye"), '#', class: "btn btn-secondary" %>
            <%= link_to fa_icon("pencil"), '#', class: "btn btn-secondary" %>
            <%= link_to fa_icon("trash"), '#', class: "btn btn-secondary" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_selector_settings_path, class: "" do %>
  <%= fa_icon('plus', class: "material-icons") %>
<% end %>
