<%= content_for :tabs do %>
  <!-- tabs -->
  <% position = 0 %>
  <ul class="nav nav-tabs no-list row center-xs" id="section-tabs" role="tablist">
    <li class="nav-item col-md center-text-h">
      <a class="nav-link" data-toggle="tab" href="#selectors" role="tab" aria-controls="selectors">Selectores</a>
    </li>
    <li class="nav-item col-md center-text-h">
      <a class="nav-link" data-toggle="tab" href="#offices" role="tab" aria-controls="offices">Oficinas</a>
    </li>
    <li class="nav-item col-md center-text-h">
      <a class="nav-link" data-toggle="tab" href="#device_models" role="tab" aria-controls="device_models">Equipos (Modelos)</a>
    </li>
    <li class="nav-item col-md center-text-h">
      <a class="nav-link" data-toggle="tab" href="#billing" role="tab" aria-controls="billing">Facturación</a>
    </li>
  </ul>
  <script>
    $(function () {
      $('#section-tabs li:eq(<%= raw @position.to_i %>) a').tab('show')
      $('#<%= @section %>').tab('show')
    })
  </script>
  <!-- /tabs -->
<% end %>

<!-- Main content -->
<div class="tab-content">
  <div class="tab-pane" id="selectors" role="tabpanel">
    <%= render "selector_index", selector_settings: @selector_settings %>
  </div>
  <div class="tab-pane" id="offices" role="tabpanel">
    <%= render "settings/offices/offices_index", offices: @offices %>
  </div>
  <div class="tab-pane" id="device_models" role="tabpanel">
    <h1>
      Modelos de equipos
    </h1>
  </div>
  <div class="tab-pane" id="billing" role="tabpanel">
    <h1>
      Facturacion
    </h1>
  </div>
</div>
<!-- /Main content -->
