<div class="modal fade" id="line-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @line.number %> - <%= @line.get_user_full_name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">

          <!-- DATOS DE LA LINEA -->
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <ul class="list-group">
              <li class="list-group-item text-white bg-success "><strong> Datos de línea</strong></li>
              <li class="list-group-item list-group-item-info"><strong>Estado:</strong>
                <span class="badge badge-pill badge-<%= raw @line.get_badge_class_to_state%>"> <%= @line.state %> </span>
              </li>
              <li class="list-group-item list-group-item-success"><strong>Aclaración:</strong>
                <span> <%= @line.clarification %> </span>
              </li>
              <li class="list-group-item list-group-item-success"><strong>Plan:</strong>
                <span> <%= @line.get_plan %> </span>
              </li>
              <li class="list-group-item list-group-item-success"><strong>Tipo de SIM:</strong>
                <span> <%= @line.type_sim %> </span>
              </li>

              <li class="list-group-item list-group-item-success"><strong>Check:</strong>
                <span> <%= (formated_date @line.check_date) + " (#{calculate_time_ago(@line.check_date)})" %> </span>
              </li>
              <li class="list-group-item list-group-item-success"><strong>Cuenta:</strong>
                <span> <%= @line.bill_account %> </span>
              </li>

            </ul>
          </div>

          <!-- DATOS DEL USUARIO -->
          <% if @user %>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <ul class="list-group">
              <li class="list-group-item text-white bg-info "><strong> Datos de Usuario</strong></li>
              <li class="list-group-item list-group-item-info"><strong>DNI:</strong>
                <span class=""> <%= @user.get_dni_formated %> </span>
              </li>
              <li class="list-group-item list-group-item-info"><strong>Oficina:</strong>
                <span> <%= @user.get_office_full_name %> </span>
              </li>
              <% if @user.get_emails.count > 0 %>
              <li class="list-group-item list-group-item-info"><strong>Cuentas de correo:</strong>
                <% @user.get_emails.each do |account| %>
                <p title="<%= raw account.pass %>"> <%= account.email %> </p>
                <% end %>
              </li>
              <% end %>
              <li class="list-group-item list-group-item-info">
                <strong>Otros tel. de contacto:</strong>
                <% if @user.office.present? && @user.office.get_internals.count > 0 %>
                  <% @user.office.get_internals.each do |internal| %>
                    <p> <%= internal.get_number %> — <%= internal.get_kind %></p>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
          <% end %>

          <!-- DATOS DEL EQUIPO -->
          <% if @device %>
          <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4">
            <ul class="list-group">
              <li class="list-group-item text-white bg-primary"> <strong>Datos del Equipo </strong></li>
              <% if @device.is_personal %>
              <li class="list-group-item list-group-item-danger"><strong>EQUIPO PROPIO DEL USUARIO</strong></li>
              <% end %>
              <li class="list-group-item list-group-item-primary"><strong>Modelo:</strong>
                <span> <%= @device.get_full_model_name %> </span>
              </li>
              <li class="list-group-item list-group-item-primary"><strong>IMEI:</strong>
                <span> <%= @device.get_imei %> </span>
              </li>
              <li class="list-group-item list-group-item-primary"><strong>Estado:</strong>
                <span> <%= @device.state %> </span>
              </li>
              <li class="list-group-item list-group-item-primary"><strong>Fecha entrega:</strong>
                <span> <%= @device.state %> </span>
                <span> <%= (formated_date @device.check_date) + " (#{calculate_time_ago(@device.check_date)})" %> </span>
              </li>
              <% unless @device.failure.blank? %>
                <li class="list-group-item list-group-item-warning"><strong>Falla:</strong>
                  <span> <%= @device.failure %> </span>
                </li>
              <% end %>

            </ul>
          </div>
          <% end %>


        </div>
      </div> <!-- END modal-body -->

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
