<ul class="nav flex-column pl-1">
  <li class="nav-item"><%= link_to icon("volume-control-phone", base: "tablet", text: "Lineas"), cellphones_lines_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to icon("check", base: "", text: "Planes"), cellphones_plans_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to icon("mobile 2x", base: "", text: "Equipos"), cellphones_devices_path, class: "nav-link" %></li>
  <li class="nav-item"><%= link_to icon("question", base: "tablet", text: "Modelos"), cellphones_models_path, class: "nav-link" %></li>
  <%= render "shared/menu_external_links" %>
</ul>
