<h1>Equipos celulares <small><%= link_to "ir a modelos", cellphones_models_path, class: "btn btn-sm btn-outline-dark" %></small> </h1>

<%= link_to icon('fas',"plus"), new_device_path, class:'btn btn-info' %>


<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">Todos</a>
  </li>
  <% @marks.each do |mark| %>
  <li class="nav-item">
    <a class="nav-link" id="<%= raw "#{mark.sub(' ','-')}-tab"%>" data-toggle="tab" href="#<%= raw "#{mark.sub(' ','-')}"%>" role="tab" aria-controls="" aria-selected="true"><%= mark %></a>
  </li>
  <% end %>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
    <%= render "tableDevices", mark: 'all'  %>
  </div>
  <% @marks.each do |mark| %>
  <div class="tab-pane fade" id="<%= raw "#{mark.sub(' ','-')}"%>" role="tabpanel" aria-labelledby="<%= raw "#{mark.sub(' ','-')}-tab"%>">
    <%= render "tableDevices", mark: mark  %>
  </div>
  <% end %>
</div>
<%= link_to icon('fas',"plus"), new_device_path, class:'btn btn-info' %>
