<h1>Modelos celulares <small><%= link_to "ir a equipos", cellphones_devices_path, class: "btn btn-sm btn-outline-dark" %></small> </h1>
<%= link_to icon('fas',"plus"), new_device_model_path, class:'btn btn-info' %>

<table class="table table-sm table-striped table-hover display responsive no-wrap" id="table-models" >
  <thead class="thead-inverse">
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>ID modelo</th>
      <th>SIM</th>
      <th>Slot SD</th>
      <th>Categoría</th>
      <th>Banda</th>
      <th>OS</th>
      <th>Cant.</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @device_models.each do |device_model| %>
      <tr>
        <td class="center-text-v"><%= device_model.mark %></td>
        <td class="center-text-v"><%= device_model.device_name %></td>
        <td class="center-text-v"><%= device_model.device_code %></td>
        <td class="center-text-v"><%= device_model.type_sim %></td>
        <td class="center-text-v text-center"><%= true_or_false_to_icon device_model.slot_sd %></td>
        <td class="center-text-v"><%= device_model.category %></td>
        <td class="center-text-v"><%= device_model.band %></td>
        <td class="center-text-v"><%= device_model.os %></td>
        <td class="center-text-v"><%= device_model.devices.count %></td>
        <td class="center-text-v">
          <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Dropdown link</a>
                <a class="dropdown-item" href="#">Dropdown link</a>
              </div>
            </div>
            <%= link_to icon('fas',"eye"), "#device_model-info-#{device_model.id}", 'data-toggle' => 'modal', class: "btn btn-info" %>
            <%= link_to icon('fas',"pencil"), edit_device_model_path(device_model), class: "btn btn-warning" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <script type="text/javascript">
  $(document).ready(function(){
    $('#table-models').DataTable( {
      responsive: true
    } );
  });
  </script>
</table>

<br>

<%= link_to icon('fas',"plus"), new_device_model_path, class:'btn btn-info' %>
