<%= simple_form_for @internal do |i| %>
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
      <%= i.input :name, label:'Nombre' %>
    </div>

    <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3">
      <%= i.input :office_id, label:'Oficina', collection: @office_options, input_html: {class: "chosen-select"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-9 col-lg-9">
      <%= i.input :aclaration, label:'Aclaración' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-sm-2 col-md-1 col-lg-1">
      <%= i.input :prefix, label:'Prefijo' %>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-4 col-lg-4">
      <%= i.input :number, label:'Número interno' %>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-5 col-lg-5">
      <%= i.input :kind, label:'Tipo de línea', collection: @kind_options %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= i.input :service_required, label:'Servicio requerido' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <%= i.input :footNote, label:'Notas' %>
    </div>
  </div>

  <%= i.button :submit, 'OK', class: "btn btn-success" %>
  <%= link_to fa_icon("back", text: "Cancelar"), internals_path, class: "btn btn-warning" %>
<% end %>
