<h3>Opciones para Selectores</h3>
<table class="mdl-data-table mdl-js-data-table ">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric"> Selector </th>
      <th class="mdl-data-table__cell--non-numeric"> Nombre </th>
      <th class="mdl-data-table__cell--non-numeric"> ID </th>
      <th class="mdl-data-table__cell--non-numeric"> Opciones </th>
    </tr>
  </thead>
  <tbody>
    <% @selector_settings.each do |ss| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"> <%= ss.selector %> </td>
        <td class="mdl-data-table__cell--non-numeric"> <%= ss.name %> </td>
        <td class="mdl-data-table__cell--non-numeric"> <%= ss.id_name %> </td>

        <td class="mdl-data-table__cell--non-numeric">
          <%= link_to fa_icon("pencil"), edit_selector_setting_path(ss) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_selector_setting_path, class: "fixed-botton-right-button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" do %>
  <%= fa_icon('plus', class: "material-icons") %>
<% end %>
