<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'Telephone.png' %>
    <% if @le_titule.blank? %>
      <% @le_titule = 'Telefonía On Rails' %>
    <% else %>
      <% @le_titule = @le_titule + ' - Telefonía On Rails' %>
    <% end %>
    <title> <%= @le_titule %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-muni-gc mb-3">
      <div class="flex-row d-flex">
        <%= link_to fa_icon("rebel", text: "TelefoníaOnRails 2.0"), root_path, class: "navbar-brand" %>
        <button type="button" class="navbar-toggler" data-toggle="offcanvas" title="Toggle responsive left sidebar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to fa_icon("home", text: "Home"), root_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to fa_icon("mobile", text: "Celulares"), cellphones_lines_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to fa_icon("phone", text: "Telef. Fija"), internals_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to fa_icon("usd", text: "Facturación"), billings_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to fa_icon("users", text: "Usuarios"), people_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to fa_icon("building", text: "Oficinas"), offices_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <%= link_to fa_icon("external-link-square", text: "Links Externos"), "#", class: "nav-link dropdown-toggle", data: { toggle:'dropdown' }, id: "navbarDropdown" %>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" target="_blank" href="https://empresas.claro.com.ar/web/guest/inicio">Claro Empresas</a>
              <a class="dropdown-item" target="_blank" href="https://contacts.google.com/u/0/preview/all">Contactos Google</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://mail.godoycruz.gov.ar/roundcube/">Mail MuniGC</a>
              <a class="dropdown-item" target="_blank" href="http://redmine/my/page">RedMine</a>
            </div>
          </li>
          <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to fa_icon("user-times", text: "Cerrar Sesión"), destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to fa_icon("question", text: "About"), about_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Begin page content -->
    <div class="container-fluid" id="main">
      <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p id="notice"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% elsif alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p id="alert"><%= alert %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
      <div class="row row-offcanvas row-offcanvas-left">
        <% if @has_menu %>
          <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <%= yield :menu %>
          </div>
          <div class="col-md-9 col-lg-10 main">
            <!-- Tab panes -->
            <%= yield :tabs %>
            <%= yield %>
          </div>
        <% else %>
          <div class="col-md-12 col-lg-12 main">
            <!-- Tab panes -->
            <%= yield :tabs %>
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This is a dashboard layout for Bootstrap 4. This is an example of the Modal component which you can use to show content.
                    Any content can be placed inside the modal and it can use the Bootstrap grid classes.</p>
                    <p>
                        <a href="https://www.codeply.com/go/KrUO8QpyXP" target="_ext">Grab the code at Codeply</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary-outline" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


  </body>
</html>
