<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'Telephone.png' %>
    <% if @le_titule.blank? %>
      <% @le_titule = 'Telefonía On Rails' %>
    <% else %>
      <% @le_titule = @le_titule + ' - Telefonía On Rails' %>
    <% end %>
    <title> <%= @le_titule %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!-- Refactor 09-2018 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <%= link_to(root_path, class: "navbar-brand brand-title") do %>
        <img src="/assets/Telephone.png" width="60" height="60" class="d-inline-block" alt="">
        Telefonía On Rails
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to(root_path, class: "nav-link btn") do %>
              <%= icon('fas','tachometer-alt', class: "fa-2x") %>
              <div class="">
                Home
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(cellphones_lines_path, class: "nav-link btn") do %>
              <%= icon('fas','mobile-alt', class: "fa-2x") %>
              <div class="">
                Celulares
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(people_path, class: "nav-link btn") do %>
              <%= icon('fas','users', class: "fa-2x") %>
              <div class="">
                Usuarios
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(internals_path, class: "nav-link btn") do %>
              <%= icon('fas','phone', class: "fa-2x") %>
              <div class="">
                Internos
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(cellphones_devices_path, class: "nav-link btn") do %>
              <%= icon('fas','clipboard-list', class: "fa-2x") %>
              <div class="">
                Equipos
              </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(tasks_path, class: "nav-link btn") do %>
              <%= icon('fas','tasks', class: "fa-2x") %>
              <div class="">
                Tareas
              </div>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to(edit_admin_registration_path, class: "nav-link btn") do %>
            <%= icon('fas','user-cog', class: "fa-2x") %>
            <div class="">
              Editar
            </div>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to(destroy_admin_session_path, method: :delete, class: "nav-link btn") do %>
            <%= icon('fas','user-slash', class: "fa-2x") %>
            <div class="">
              Cerrar Sesión
            </div>
            <% end %>
          </li>
          <% unless current_admin.access_level < 3 %>
          <li class="nav-item">
            <%= link_to(adminzone_index_path, class: "nav-link btn") do %>
            <%= icon('fas','user-tie', class: "fa-2x") %>
            <div class="">
              AdminZone
            </div>
            <% end %>
          </li>
          <% end %>
        <% end %>
        <li class="nav-item">
          <%= link_to(about_path, class: "nav-link btn") do %>
          <%= icon('fas','question-circle', class: "fa-2x") %>
          <div class="">
            Acerca de
          </div>
          <% end %>
        </li>
      </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <% if notice %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>INFO: </strong> <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
      <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>ALERT: </strong> <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
