<!DOCTYPE html>
<html>
  <head>
    <title>TelefoniaOnRailsZ</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="bg-muni-gc">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to fa_icon("rebel", text: "TelefoníaOnRails 2.0"), root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to fa_icon("home", text: "Inicio"), root_path(section:'dashboard'), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to fa_icon("gears", text: "Configuración"), settings_path(section:'selectors'), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" disabled="disabled" placeholder="No funciona... aún">
          <button class="btn btn-outline-success my-2 my-sm-0 disabled" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
    <div id="page-sections">
      <nav class="white">
        <%= yield :tabs %>
      </nav>
    </div>
  </div>
    <!-- Begin page content -->
    <div class="container-fluid">
      <!-- Tab panes -->
      <% if notice || alert %>
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
